__generated__
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!crsqlite.xcframework
!default.pbxuser
.*.swm
.*.swn
.*.swo
.*.swp
.codemod.bookmark
.direnv
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env.test.localp
.envrc.local
.expo
.gradle
.history/
.idea
.kernel-ngrok-url
.metro-health-check*
.next
.project
.settings
.tamagui
.turbo
.ultra.cache.json
.vercel
.vite-inspect
.vscode/launch.json
.yarn/*
*.apk
*.hprof
*.iml
*.pbxuser
*.sublime-project
*.sublime-workspace
*.tmp.js
*.tsbuildinfo
*.xccheckout
*.xcscmblueprint
**/_
**/ios/.xcode.env.local
**/tests/spec/out
**/types/**/*.d.ts.map
*~
/*.cer
/android
/android/logcat.txt
/apps/bare-expo/android/app/google-services.json
/apps/bare-expo/ios/BareExpo/GoogleService-Info.plist
/apps/expo-go/src/dist
/artifacts/*
/client-builds
/fastlane/Deployment
/fastlane/gc_keys.json
/fastlane/Preview.html
/fastlane/report.xml
/fastlane/test_output
/gc_keys.json
/ios
/packages/**/*.spec.json
/packages/**/*.xcframework
/packages/**/Info-generated.plist
/Preview.html
/vscode/launch.json
android-shell-app
apps/bare-expo/deploy-url.txt
apps/kitchen-sink/android
apps/kitchen-sink/ios
apps/site/out
apps/site/public/talk/
apps/studio/types/**
bare-apps
dist
docs/pages/versions/*/react-native/*.diff
docs/pages/versions/*/react-native/ADDED_*.md
docs/pages/versions/*/react-native/REMOVED_*.md
jarjar-rules.txt
node_modules
npm-debug.log
ReactAndroid-temp.aar
shellAppBase-*
shellAppIntermediates
shellAppWorkspaces
templates/**/android/**/generated/*
templates/**/android/app/build
templates/**/Podfile.lock
templates/**/Pods/**
templates/**/yarn.lock
tmp
tsconfig.tsbuildinfo
web-build
xcuserdata
yarn-error.log